.wy-table-responsive table td {
	white-space: normal;

}

html.writer-html5 .rst-content table.docutils td>p,
html.writer-html5 .rst-content table.docutils th>p {
	line-height: 1.6;
	margin-bottom: 4px;
	font-size: .9rem;
}
